.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.red-bg {
  background-color: #dea6e6f0;
}

.body-bg {
  background-color: #f3dbf7 ; 
  min-height: 100vh;
  overflow-y: auto;
}

.dark{
  background-color: #0af5c6;
}

.dark-bg {
  color: #fff !important;
  background-color: #222 !important;
}

.dark-bg .body-bg {
  background-color: #0b1136d1; 
}

.dark-textarea {
  background-color: #333;
  color: white;
  width: 100%;
  height: 200px;
}

.text-dark textarea {
  background-color: #333;
  color: white;
}

.text-light textarea {
  background-color: white;
  color: #042743;
}

.dark-bg {
  background-color: #333;
  color: white;
}

.dark-bg textarea {
  background-color: #333;
  color: white;
}

textarea {
  width: 100%;
  height: 500px;
  resize: none;
}